*{
    margin: 0;
    padding: 0;
    font-size:1.13rem;
}
body {
  background: rgba(255, 255, 255, 0.98);
  color: #000000 !important;
  font-family: "Open Sans", sans-serif;
}
nav 
{
    
    background: #2f3138 !important;
    /* background-color: blue !important; */
}
 
 
 nav li a{
   color:white ;
 }
form a
{
    
    font-size:1.2rem;
    background-color: #ffffff !important;
    color:#ffffff !important;
     padding: 0.3rem 0.7rem !important;
     border-radius: 25px;
     /* text-decoration: none !important; */
}
form a :hover{
    background: rgb(255, 157, 0) !important;
    /* color:white !important; */
}
.active:hover{
    background-color:rgba(128, 128, 128, 0.21)
}


footer {
  background-color: rgba(6, 12, 34, 0.8);
} 
footer i{
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer div i:hover
{
  background: #f82249;
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 12px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 6px 4px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #f82249;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #060c22;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  background-color: #f82249;
  color: #ffffff !important;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media screen and (max-width : 1200px) {
  .logo_img{
    width: 6vw;
  }
  
}
@media screen and (max-width : 992px) {
  .logo_img{
    min-width: 10vw;
    margin: auto;
    padding: auto;
  }
  .logo_container{
    width: 80vw;
    /* margin: auto;
    padding: auto; */
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler{
    /* display: none; */
    position: absolute;
    right: 0%;
    top: 0%;
    /* align-items: center; */
    /* justify-content: center; */
    margin-right: 4vw;
    margin-top: 2vw;
  }
  .navbar-toggler-icon{
    /* display: none; */
    font-size: 16px;
  }
  .register_button{
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .regi_button{
    margin-bottom: 6px;
  }
  .index_heading{
    font-size: 12px;
    /* display: block; */
  }
}
@media screen and (max-width:340px) {
  .logo_img{
    min-width: 8vw;
    margin: auto;
    padding: auto;
  }
  .navbar-toggler-icon{
    /* display: none; */
    font-size: 10px;
  }
  .navbar-toggler{
    padding: 2px 2px;
    padding-left: 6px;
    padding-right: 6px;
  }
}


#schedule {
  padding: 60px 0 60px 0;
}
#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}
#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}
#schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}
@media (max-width: 991px) {
  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}
@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}
@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}
#schedule .nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}
#schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}
@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}
#schedule .tab-pane {
  transition: ease-in-out 0.2s;
}
#schedule .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}
#schedule .schedule-item:hover {
  background-color: #fff;
}
#schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}
#schedule .schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}
#schedule .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}
#schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
#schedule .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}
#schedule .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}


@media screen and (max-width : 992px) {
  .logo_img{
    min-width: 10vw;
    margin: auto;
    padding: auto;
  }
  .logo_container{
    width: 80vw;
    /* margin: auto;
    padding: auto; */
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler{
    /* display: none; */
    position: absolute;
    right: 0%;
    top: 0%;
    /* align-items: center; */
    /* justify-content: center; */
    margin-right: 4vw;
    margin-top: 2vw;
  }
  .navbar-toggler-icon{
    /* display: none; */
    font-size: 16px;
  }
  .register_button{
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .regi_button{
    margin-bottom: 6px;
  }
  .index_heading{
    font-size: 12px;
    /* display: block; */
  }
}
*{
  margin: 0;
  padding: 0;
  font-size:1.13rem;
}
.logo_container{
align-items: center;
}
body {
background: rgba(255, 255, 255, 0.98);
color: #000000 !important;
font-family: "Open Sans", sans-serif;
}
nav 
{
  
  background: #2f3138 !important;
  /* background-color: blue !important; */
}


nav li a{
 color:white ;
}
form a
{
  
  font-size:1.2rem;
  background-color: #ffffff !important;
  color:white !important;
   padding: 0.3rem 0.7rem !important;
   border-radius: 25px;
   /* text-decoration: none !important; */
}
form a :hover{
  background: rgb(255, 157, 0) !important;
  /* color:white !important; */
}
.active:hover{
  background-color:rgba(128, 128, 128, 0.21)
}


footer {
background-color: rgba(6, 12, 34, 0.8);
} 
footer i{
display: inline-block;
background: #222636;
color: #eee;
line-height: 1;
margin-right: 4px;
border-radius: 50%;
width: 36px;
height: 36px;
transition: 0.3s;
display: inline-flex;
align-items: center;
justify-content: center;
}

footer div i:hover
{
background: #f82249;
color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
padding: 0;
}
.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}
.navbar li {
position: relative;
}
.navbar > ul > li {
white-space: nowrap;
padding: 10px 0 10px 12px;
}
.navbar a, .navbar a:focus {
display: flex;
align-items: center;

justify-content: space-between;
color: rgba(202, 206, 221, 0.8);
font-family: "Raleway", sans-serif;
font-weight: 600;
font-size: 17px;
white-space: nowrap;
transition: 0.3s;
position: relative;
padding: 6px 4px;
}
.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}
.navbar > ul > li > a:before {
content: "";
position: absolute;
width: 0;
height: 2px;
bottom: -6px;
left: 0;
background-color: #f82249;
visibility: hidden;
transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
visibility: visible;
width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
color: #fff;
}
.navbar .dropdown ul {
display: block;
position: absolute;
left: 12px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: 0.3s;
}
.navbar .dropdown ul li {
min-width: 200px;
}
.navbar .dropdown ul a {
padding: 10px 20px;
font-size: 14px;
text-transform: none;
color: #060c22;
}
.navbar .dropdown ul a i {
font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
color: #f82249;
}
.navbar .dropdown:hover > ul {
opacity: 1;
top: 100%;
visibility: visible;
}
.navbar .dropdown .dropdown ul {
top: 0;
left: calc(100% - 30px);
visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
opacity: 1;
top: 0;
left: 100%;
visibility: visible;
}
@media (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
  left: -90%;
}
.navbar .dropdown .dropdown:hover > ul {
  left: -100%;
}
}

@media screen and (max-width : 1200px) {
.logo_img{
  width: 6vw;
}

}
@media screen and (max-width : 992px) {
.logo_img{
  min-width: 10vw;
  margin: auto;
  padding: auto;
}
.logo_container{
  width: 80vw;
  /* margin: auto;
  padding: auto; */
  justify-content: center;
  align-items: center;
}
.navbar-toggler{
  /* display: none; */
  position: absolute;
  right: 0%;
  top: 0%;
  /* align-items: center; */
  /* justify-content: center; */
  margin-right: 4vw;
  margin-top: 2vw;
}
.navbar-toggler-icon{
  /* display: none; */
  font-size: 16px;
}
.register_button{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.regi_button{
  margin-bottom: 6px;
}
.index_heading{
  font-size: 12px;
  /* display: block; */
}
}
@media screen and (max-width:340px) {
.logo_img{
  min-width: 8vw;
  margin: auto;
  padding: auto;
}
.navbar-toggler-icon{
  /* display: none; */
  font-size: 10px;
}
.navbar-toggler{
  padding: 2px 2px;
  padding-left: 6px;
  padding-right: 6px;
}
}
.resp
{
  width:50vw !important;
  height: 50vw !important;
}

 @media (max-width: 1366px) { */
  
  .resp{
    width:200px;
  /* height:60%; */

  }

  
} 